{% extends "base.html" %}

{% block body %}
<div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">&nbsp;&nbsp;Jobs&nbsp;&nbsp;</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container marketing">
    	{% for job in jobs %}
    	<div class="row well well-sm">
			<h4><a href={% url 'job' job.id %}>{{ job.title }}</a><span class="pull-right">{{ job.created_at }}</span></h4>
			<div class="row col-lg-12">
				{{ job.description|truncatewords:"15" }}
			</div><br>
			<div class="row">
				<div class="col-lg-4">
					<span class="pull-left">Job-Type: {{ job.job_type}}</span>
				</div>
				<div class="col-lg-4">
					<span class="pull-left">Salary: {{ job.salary_min }} - {{ job.salary_max}}</span>
				</div>
    		</div>
    	</div>
		{% endfor %}
	
{% endblock %}