{% extends "base.html" %}

{% block body %}
<div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">&nbsp;&nbsp;Jobs&nbsp;&nbsp;</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container marketing">
    	<div class="row well well-sm">
        <h4>{{ job.title }}<span class="pull-right">{{ job.created_at }}</span></h4>
        <div class="row col-lg-12">
          {{ job.description }}
        </div><br>
        <div class="row col-lg-12">
          <span class="pull-left">Last Updated at - {{ job.updated_at }}</span>
        </div>
        <div class="row col-lg-12">
          <span class="pull-left">Salary - {{ job.salary_min }} - {{ job.salary_max }}</span>
        </div>
        <div class="row col-lg-12">
          <span class="pull-left">Job Type - {{ job.job_type }}</span>
        </div>
        <h4>Start Up</h4>
        <h5>{{ job.startup.name }}<span class="pull-right"><img src={{ job.startup.logo_url }}/></span></h5>
        <div class="row col-lg-12">
          Description: {{ job.startup.product_desc }}
        </div><br>
        <div class="row col-lg-12">
          High Concept: {{ job.startup.high_concept }}
        </div><br>
        <div class="row col-lg-12">
          Follower: {{ job.startup.follower_count }}
        </div><br>
        <div class="row col-lg-12">
          Company Website: {{ job.startup.company_url }}
        </div><br>

      </div>
	
{% endblock %}